<h4>RoR</h4>
<p>
	<strong>RoR</strong> offered
	<ul>
		<li>full-stack <strong>MVC</strong></li>
		<li><strong>CoC</strong> - convention over configuration</li>
		<li><strong>DRY</strong> - don't repeat yourself</li>
		<li><strong>active record</strong> - accessible persistence to all the masses</li>
		<li>on and on...just ask any RoR dev</li>
	</ul>
	<p>
		And the masses lost their collective sh!t for what seemed like forever
	</p>
</p>

(beer bottle opener wallet chain and pithy ironic hat is optional)

<hr />

<h4><a href="#/pbr">who wants a PBR?</a>&nbsp;<span class="glyphicon glyphicon-forward"></span></h4>

<img class="pull-right" src="http://www.railsboxtech.com/sites/default/files/styles/service/public/ruby_rails_banner.png"/>
