<h4>yo angular -</h4>
<div ng-init="shortVersion=true">
	<div ng-show="shortVersion">
		Open the secure shell and run -
		<ul>
		  <p><strong>
		  cd ~<br />
		  mkdir first-app<br />
		  cd first-app<br />
		  yo angular first<br />
		  </strong></p>
		  <p>
		  The angular-generator asks 3 questions<br />
			<ol>
				<li>do you want to use Sass and Compass (press <strong>n for no</strong>)</li>
				<li>do you want to use Twitter Bootstrap (press <strong>y for yes</strong>)</li>
				<li>which angular features you wish to use (press <strong>enter</strong>)</li>
			</ol>
		  </p>
		</ul>
		<button ng-click="shortVersion=false">long version</button>
	</div>
	<div ng-show="!shortVersion">
Open the secure shell to you home directory (~) and create a new project folder named first-app -<br />
<ul>
  <strong>cd ~<br />
  mkdir first-app</strong><br />
</ul>

<p>
	FYI - feel free to name the folder anything you like, I'm going with first-app (no spaces in the name please). 
</p>

<p>
	If this is the first time using yo angular I suggest keeping it simple, leave the name alone.
</p>

<hr />

Enter the directory in the shell<br />
<ul>
  <strong>cd first-app</strong><br />
</ul>

If you scaffold the app (using yeoman yo!) like so<br />
<ul>
  <strong>yo angular first-app</strong><br />
</ul>

Yeoman (yo!) tries to be cute and adds 'App' to the end of the name used in the javascript. Soooo the name becomes -<ul>
	<strong>firstAppApp</strong>
</ul>

So if having your app named AppApp bugs you, run the generator without App -<br />

<ul>
  <strong>yo angular first</strong><br />
</ul>

firstApp<br />

<hr />
The angular generator will ask 3 questions<br />
<ol>
	<li>do you want to use Sass and Compass (press <strong>n for no</strong>)</li>
	<li>do you want to use Twitter Bootstrap (press <strong>y for yes</strong>)</li>
	<li>which angular features you wish to use (press <strong>enter</strong>)</li>
</ol>

Why answer <strong>no</strong>, <strong>yes</strong> and <strong>enter</strong>?<br />
<ol>
	<li>Sass and Compass - read about it here <a href="http://compass-style.org/">http://compass-style.org/</a> sass is ... interesting, but not important for the purpose of this tutorial.</li>
	<li><a href="http://getbootstrap.com/">Bootstrap</a> has a bunch of great css styles and makes bad looking apps look, well better...</li>
	<li>We're learning angular, so why not install all the toys ;)</li>
</ol>

<hr />

Ok! time to take a drink of coffee while the app dependencies download from the interwebs..This can take a good 60 seconds or so.... uh...so how are the kids?, the weather was a bit iffy the other day... how's the golf swing working out this year? can you believe the cafe is going to close for the summer? what's up with that.....<br />
<br />
NOTE - if the prompt appears to pause, press the <strong>enter</strong> key to continue<br />
	</div>
</div>

<hr />
<h4><a href="#/yeoman-test">Hey looky there! - it finished (eventually)</a>&nbsp;<span class="glyphicon glyphicon-forward"></span>

<img class="pull-right" src="/yo-ng.png"/>
</h4>