<h4>Online IDE shiftedit.net</h4>

<p>
	A simple and free IDE with an integrated sftp and secure shell. A great tool, esp. for price. Plenty of other online options available - cloud9, codebox, neutron drive, codeenvy, etc.
</p>

<p>
	Open chrome and navigate to 
	<ul>
	  <a href="https://shiftedit.net/home#">https://shiftedit.net/home#</a><br />
	  <br />
	  chrome app is available - <br /><br />
	  <a href="https://chrome.google.com/webstore/detail/shiftedit/lcgmndephhjcabhhjfcmncnhbmgbkpij">https://chrome.google.com/webstore/detail/shiftedit/lcgmndephhjcabhhjfcmncnhbmgbkpij</a>
	  <br />
	</ul>
</p>

Setup a shiftedit to point to my test server on azure<p>
<ul>
  <ol>
  	<li>first send me an email (pat.arleth) for a login (yo_1 is used below)</li>
    <li>open <a href="https://shiftedit.net/home#">https://shiftedit.net/home#</a> and click create account. I used the google signin integration.</li>
    <li>set name and domain to <strong>angulartutorial.cloudapp.net</strong><br />
    the dialog that pops up on initial login should look like this:<br /><br />
      <ul>	
	<img src="/SiteSettings.png">
      </ul>
      <br />
      click Test Connection, and Save<br /><br />
      if you accidently closed the "Site Settings" window, no worries - just click the three horizontal line icon top left and select "New Site" or "Edit Site". <br /><br />
      <ul>
	<img src="/topLeftCorner.png">
      </ul><br />
    </li>
    <li>
      configure ssh by clicking the "Secure Shell" link at the bottom of the page and the the PLUS icon.<br /><br />
      <ul>
	<img src="/SecureShell.png"/>
	<br />
      </ul>
    </li>
  </ol>
</ul>
</p>
<hr/>
<h4><a href="#/yeoman">login and scaffold a HTML app using yo!</a>&nbsp;<span class="glyphicon glyphicon-forward"></span></h4>
<img class="pull-right" src="https://s3.amazonaws.com/shiftedit/images/website/shiftedit_logo.png"/>