<h4>index.html</h4>
<div ng-init="shortVersion=true">
	<div ng-show="shortVersion">
		<p>
			Application specific markup does NOT belong in index.html. 
		</p>
		<p>
			The index.html should be responsible for loading your css/javascript files and "bootstraping" angularjs framework.
		</p>
		<button ng-click="shortVersion=false">long version</button>
	</div>
	<div ng-show="!shortVersion">
		<ul>
			<li>the markup and scripts in index.html are responsible for browser mitigation and global app settings like google analytics.</li>
			<li>there are two important tags in main index.html page -
				<ul>
					<li>&lt;body ng-app="ngTutorialApp"&gt; - angularjs "bootstrap" designates the root element managed by angularjs</li>
					<li>&lt;div class="container" ng-view=""&gt;&lt;/div&gt; - where the views for you application will be placed by angulars routing mechanism</li>
				</ul>
			</li>
			<li>
				script tags are surrounded by html comments indicating where the script originated from
				<ul>
					&lt;!-- bower:js --&gt; - indicates the following script tags are dependencies managed by bower.<br />
					&lt;!-- build:js({.tmp,app}) scripts/scripts.js --&gt; - following script tags belong to the application
				</ul>
			</li>
			<li>the yeoman generated html comments are used by grunt to 'build' minified distribution</li>
		</ul>
	</div>
</div>
	
<hr />

<h4><a href="#/">BACK</a>&nbsp;<span class="glyphicon glyphicon-backward"></span>