<h4>test the generated application</h4>
<p>
	The application's templates and dependencies are generated and placed in the projects "app" folder. 
</p>

<p>
Checkout your hard work here -
<a href="http://angulartutorial.cloudapp.net/yo_1/first-app/app/index.html">http://angulartutorial.cloudapp.net/yo_1/first-app/app/index.html</a><br />
</p>
<div ng-init="shortVersion=true">
	<div ng-show="shortVersion">
		Open the secure shell and run -
		<ul>
		  <p><strong>
		  npm install;bower install;grunt --force
		  </strong></p>
		</ul>
		<button ng-click="shortVersion=false">moderately longer version</button>
	</div>
	<div ng-show="!shortVersion">
		<p>
			You'll need to correct the username in link above and the app folder name if you changed it from first-app.
		</p>
		<p>
			Before we move on to some actual coding - we should test the installation at the shell by running -<br />
			<ol>
			<li>install tool requirements (<strong>npm install</strong>)</li>
			<li>install javascript dependencies - <strong>bower install</strong></li>
			<li>test tools - <strong>grunt --force</strong></li>
			</ol>
			So lets do all three steps at once with -<br />
			<ul>
			  <strong>npm install;bower install;grunt --force</strong><br />
			</ul>
		</p>
	</div>
</div>

<hr />

<h4>
	<a href="#/cookie">achievement unlocked!</a>&nbsp;<span class="glyphicon glyphicon-forward"></span>
</h4>
<img class="pull-right" src="http://vermilion1.github.io/presentations/grunt/images/grunt-logo.png"/>