<h4>Generate an "empty" project using <a href="http://yeoman.io">yeoman</a> yay...</h4>
<hr />
<p>Before we get too deep into this, I feel an important issue must be addressed - </p>
<p>
	<strong>What the hell is Yeoman?</strong>
</p>
<p><ul>"THE WEB'S SCAFFOLDING TOOL FOR MODERN WEBAPPS"</ul>
They love teh caps over there... Yeoman is a command line tool used to generate 400+ different kinds of web projects - 
I've pre-installed the angular-generator for this demo, but checkout the other community generators available to yo at <a href="http://yeoman.io/generators.html">http://yeoman.io/generators.html</a>. 
</p>
<p>
	And of course - in your infinite spare time go check out <a href="https://github.com/yeoman/generator-angular">https://github.com/yeoman/generator-angular</a>
</p>

<hr />
<h4><a href="#/scaffold-app">yo angular</a>&nbsp;<span class="glyphicon glyphicon-forward"></span></h4>

<img class="pull-right" src="http://yeoman.io/assets/img/yeoman-logo.a053.png"/>
